/* font-ex
@font-face {
  font-family: 'font-ex';
  font-style: normal;
  font-weight: 300;
  src: local('font-ex Light'), url(https://../../../font-ex-light.woff2) format('woff2');
}
@font-face {
  font-family: 'font-ex';
  font-style: normal;
  font-weight: 400;
  src: local('font-ex Regular'), url(https://../../../font-ex-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'font-ex';
  font-style: normal;
  font-weight: 700;
  src: local('font-ex Bold'), url(https://../../../font-ex-bold.woff2) format('woff2');
}
*/